header {
  display: flex;
  width: 100%;
  background-color: var(--primary-blue);
  .content {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
    background-color: var(--primary-blue);
    padding-top: 8px;
    padding-bottom: 16px;
    margin: 0 auto;
  }
}
.logo {
  width: 125px;
}
.header-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 14px;

  &.cart {
    .icon {
      position: relative;
      .cart-count {
        position: absolute;
        top: -1px;
        right: -5px;
        background-color: white;
        color: var(--primary-blue);
        font-size: 9px;
        display: none;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        font-weight: bold;
      }
    }
  }
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-blue);
  border-radius: 4px;
  flex: 1;
  height: 100%;
  position: relative;
  margin: 0 10px;
  input {
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    color: white;
    &:placeholder-shown {
      & + .icon {
        display: block;
      }
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
      font-size: 14px;
    }
  }
  .icon {
    display: none;
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-43%, -50%);
  }
}
