.product-section {
  margin-top: 24px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}
.all-products-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 10px;
  color: var(--primary-blue);
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  border: 1px solid lightgray;
}
.product {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid lightgray;

  & + .product {
    border: 1px solid lightgray;
  }

  .image {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    gap: 3px;
    margin-bottom: 8px;

    .stars {
      display: flex;
      align-items: center;
      gap: 2px;
      color: var(--star-color);
      img {
        width: 12px;
        height: 12px;
      }
    }
    .comments {
      color: gray;
    }
  }
  .code {
    font-size: 8px;
    color: gray;
    text-align: center;
  }
  .name {
    font-size: 10px;
    text-align: center;
    padding: 0 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .price {
    color: var(--primary-blue);
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .shipping-today {
    width: fit-content;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: gray;
    font-size: 8px;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 16px;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
  .add-to-cart {
    border: none;
    background-color: var(--tertiary-blue);
    color: white;
    display: none;
    padding: 0;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary-blue);
      transform: rotateX(180deg);
      width: 40px;
      height: 40px;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: 100%;
      font-size: 10px;
    }
  }

  &:hover {
    border: 1px solid var(--primary-blue);
    .add-to-cart {
      display: flex;
    }
  }
}
